{% extends "page.html.twig" %}
{% block content%}
    <ul class="nav nav-tabs" id="tags">
        <li><a href="/contracts/new">Новые</a></li>
        <li><a href="/contracts/deferred">Список</a></li>
        <li><a href="/contracts/proposed">Предложенные</a></li>
        <li><a href="/contracts/in_work">В работе</a></li>
        <li><a href="/contracts/refused">Отказанные</a></li>
        <li><a href="/contracts/executed">Завершенные</a></li>
    </ul>
    {{ page.content }}
{% endblock %}