{% extends "page.html.twig" %}
{% block content%}
    <ul class="nav nav-tabs" id="tags">
        <li><a href="/provider">Входящие</a></li>
        <li><a href="/processed">Обработанные</a></li>
        <li><a href="/refused">Отказанные</a></li>
    </ul>
    {{ page.content }}
{% endblock %}