.container-fluid{
    padding: 0;
}
.my-form{
margin: 20px;
}

input {
    width: 100%;
}
input[type='submit']{
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}
.page_content{
    margin: 10px;
}
.page_data{
    margin: 10px;
}
.capability{
    top: -40px;
    right: 50px;
    position: relative;
    float: right;
}
.menu{
    border-top: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 30px;
    background: pink;
}
html{
    height: 100%;
}
#edit-submit{
    width: 150px;
}